/* changes text colour of results element to black */
.results {
  color: black;
}

html, body {
  margin: 0;
  height: 100%;
}

/* Changes background image and styles size */
body {
  background: url("../images/Pokemon-questions-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Displays button as inline-block, chamges font-size, and sets margin and width properties  */
.btn-primary {
  display: inline-block;
  margin: 20px;
  font-size: 20px;
  width: 200px;
}

/* Sets border to red, with a red background and rounds off the border radius */
.startBtn {
  border: 1px solid red;
  background-color: red;
  border-radius: 8px;
}

/* Sets links to display with white text and adds padding */
a {
  color: white;
  padding: 15px;
}

/* Displays class as grid of 3 columns with a margin on top */
.btn-more {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 19%;
}

/* Sets grid area */
#answerForm {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  text-align: center;
}

/* Button colours */
#Pikachu {
  border-radius: 5px;
  background-color: rgb(197, 195, 64);
  border: 1px solid rgb(197, 195, 64);
}

#Bulbasaur {
  border-radius: 5px;
  background-color: rgb(64, 197, 93);
  border: 1px solid rgb(64, 197, 93);
}

#Squirtle {
  border-radius: 5px;
  background-color: ;
  border: 1px solid rgb(64, 155, 197);
}

#Charmander {
  border-radius: 5px;
  background-color: rgb(233, 55, 55);
  border: 1px solid rgb(233, 55, 55);
}

/* Question font and placement */
#questions {
  font-family: "DotGothic16", sans-serif;
}

#question {
  margin-top: 50px;
  font-size: 40px;
}

/* Media queries for smaller than 1150 px width */

@media screen and (max-width: 1150px) {
  body {
    background: url("../images/Mobileimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100%;
  }

  html, body {
    margin: 0;
    height: 100%;
}
  .btn-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 19%;
    max-height:100%;
    
  }
  #answerForm {

    grid-column: 2 / span ;
    grid-row: 1 / span 4;
    text-align: center;
    display: block;
    max-height:100%;
}

   #Bulbasaur{
    margin-left: 0% !important;
    font-size: medium;
    }

    .btn-more{
      max-height:100%;
      margin-top: 0%;
      
    }
   #Squirtle{
    font-size: medium;
   }

   #Pikachu{
    font-size: medium;
   }

    #Charmander{
      
      font-size: medium;
    }
    #question{
      font-size:larger;
    }
}