body {
    background: url("../images/pokebig.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/* text inside jumbotron */
#start-heading {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'DotGothic16', sans-serif; 
    color: rgb(255, 255, 26); 
    text-shadow: 4px -2px rgb(25, 73, 207) ;
   font-weight: bolder;
   letter-spacing: 2px;
   background-color: black;
   border-radius: 5px ;

}

#start-text {
    max-width: 800px;
    padding: 10px;
    font-family: 'DotGothic16', sans-serif;
    background-color: black;
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 26); 
    text-shadow: 3px -2px rgb(25, 73, 207) ;
    font-weight: bolder;
    border-radius: 6px;
    margin-top: 20px;
    margin: auto;
}


/* start button */
.btn-primary {
    text-align: center;
    color: rgb(255, 255, 26); 
    text-shadow: 3px -2px rgb(25, 73, 207) ;
    background-color: black;
    font-weight: bolder;
    border-radius: 6px;
    margin: auto !important;

}

.btn-primary:hover {
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 26); 
    text-shadow: 3px -2px rgb(25, 73, 207) ;
    font-weight: bolder;
    font-size: large;
}



/* footer */ 
footer {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 2px;
}

footer p {
    margin: 0 auto;
    background-color: rgb(2, 167, 2);
}

@media screen and (max-width: 1150px) {
    body {
        background: url("../images/Mobileimage.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
        height: 100%;
      }
}





