.results {
  color: black;
}

body {
  background: url("../images/pokebig.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary {
  padding: 50px;
  margin: 40px;
  margin-top: 140px;
}

.startBtn {
  border: 1px solid red;
  background-color: red;
  border-radius: 5px;
}

a {
  color: white;
  padding: 15px;
}

.img-wrapper {
  position: absolute;
}

.img-responsive {
  width: 100%;
  height: auto;
}
.img-overlay {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: " ";
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 0%;
}
/*
#container {
  background: url("./images/pokequiz-top-layer.png");
  background-size: 90%;
  background-repeat: no-repeat;
}*/
