.results {
  color: black;
}

body {
  background: url("./images/Pokemon-questions-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary {
  display: inline-block;
  padding: 10px;
  margin: 40px;


  margin-top: 140px;
  width: 250px;
  height: 150px;
font-size: larger;

}

.startBtn {
  border: 1px solid red;
  background-color: red;
  border-radius: 8px;
  
}

a {
  color: white;
  padding: 10px;  
   
}

/*
.btn-more {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#answerForm {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  text-align: center;
}
*/
.choicescontainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  
  ul li{
    list-style-type: none;
   display: inline;
   padding-top: 9px;

  }


